.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 28px;
  font-weight: 500px;
}

.control {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.control__label {
  margin-right: 8px;
}

.control__select {
  font-size: 16px;
}

.control__button {
  margin-left: 8px;
}

.chart {
  margin-top: 16px;
  width: 1000px;
  height: 500px;
}
